<!DOCTYPE html>

<html>
    <head>
        <title>404 page</title>
         <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
       
    </head>
    <body>
        <div class="main-content">
             <h1>Error page not found (404 page)</h1>
   
        <p>did you mean: /help or /about or /Weather ? Click down here.</p>
             {{>header}}
          <img class="portrait" src="/img/download.jpg">
        </div>
       
          {{>fotter}}
    </body>
</html>