<!DOCTYPE html>

<html>
    <head>
        <title>Weather app</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="./css/styles.css">

    </head>
    <body>
        <div class="main-content">
                 {{>header}}
                 <form >
                     <input type="text" placeholder="Search an address">
                     <button>Search Address</button>
                 </form>
                 <p id="M1"></p>
                 <p id="M2"></p>
                
        </div>
      
         {{>fotter}}
         <script src="./js/app.js"></script>
    </body>
</html>