<!DOCTYPE html>

<html>
    <head>
        <title>404 help error</title>
         <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
 
    </head>
    <body>
        <div class="main-content">
              <h1>Help page not found </h1>
        <p>Wantet to go some where else ? click down here.</p>
           {{>header}}
         
<img  class="portrait" src="/img/directions.jpg" >
        </div>
  {{>fotter}}
    </body>
</html>